@import 'tailwindcss';
@import 'fumadocs-ui/css/neutral.css';
@import 'fumadocs-ui/css/preset.css';


@theme {
  --color-fd-primary: hsl(160 84% 39%);
  --color-fd-primary-foreground: hsl(0 0% 98%);
}

.dark {
  --color-fd-primary: hsl(158, 64%, 44%);
  --color-fd-primary-foreground: hsl(0 0% 10%);
}

/* Fumadocs sidebar */

#nd-sidebar > div {
  padding-left: 12px;
  padding-right: 12px;
  width: 100%;
}
